body {
    background-image: url("../images/floor-tile.png")
}

#wrapper {
    width: 960px;
    margin: 60px auto;
    background-color: #ffffff;
}

a, a:link, a:visited {
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
}

#top-bar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #ffffff;
    border-bottom: 2px solid;
    border-color: #cccccc;
}

#top-wrapper {
    width: 960px;
    margin: 0 auto;
    z-index: 2;
    line-height: 40px;
}

h1 {
    height: 56px;
    margin: 0px !important;
    color: #ffffff;
    background-color:  #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    float: left;
}

nav {
    float: right;
}

h2 {
    color: #4aaaa5;
}

p {
    line-height: 30px;
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
}

#profile {
    float: left;
}
